body{
    background-image: linear-gradient(yellow, white);
    background-repeat: no-repeat;
    margin: 0%;
    padding-left: 10px;
    font-family: 'Varela Round', sans-serif;
}
h1{
    text-align: center;
    padding-left: 2%;
}
.color{
    color: orangered;
}
.sig{
    color: aqua;
}
.header{
    text-align: center;
}
.mid img{
    width: 40%;
    margin-left: 30%;
    opacity: calc(60%);
}
article{
    text-align: center;
}
