body{
    background-image: linear-gradient(yellow, white);
    background-repeat: no-repeat;
    margin: 0%;
    padding-left: 10px;
    font-family: 'Varela Round', sans-serif;
}
h1{
    text-align: center;
    padding-left: 2%;
}
.color{
    color: orangered;
}
.sig{
    color: aqua;
}
.header{
    text-align: center;
}
.mid img{
    align-content: center;
    width: 30%;
    margin-left: 36%;
    opacity: calc(60%);
}
article{
    text-align: center;
}
nav{
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    padding: 20px 15px;
}
nav > ul > li > a{
    text-decoration: none;
    font-size: 20px;
}
.linkpads{
    background-image: linear-gradient(rgb(0, 225, 255), #00ff84);
    color: rgb(1, 0, 0);
    padding: 20px;
    font-weight: 520;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 2%;
}
nav > ul{
    margin-left: 25%;
}
.linkpads:hover{
    background-image: linear-gradient(red, orangered);
}
.youtube-button{
    text-transform: uppercase;
    /* letter-spacing: 0.1em; */
    text-decoration: none;
    background-image: linear-gradient(red, #766547);
    color: white;
    padding: 20px 40px;
    font-weight: 500;
    border-radius: 10px;
}
.youtube-button:hover{
    background-image: linear-gradient(orangered, red);
    border: #000000 solid 2px;
}
.telegram-button{
    text-decoration: none; 
    background-image: linear-gradient(rgb(13, 69, 147), rgb(71, 194, 255));
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 500;
  }
  .telegram-button:hover{
    background-image: linear-gradient(rgb(71, 194, 255), rgb(13, 69, 147));
    border: #000000 solid 2px;
}
  .facebook-button{
    text-decoration: none;
    background-image: linear-gradient(skyblue, darkblue);
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.facebook-button:hover{
    background-image: linear-gradient(darkblue, skyblue);
    border: #000000 2px solid;
}
.instragram-button{
    text-decoration: none;
    background-image: linear-gradient(purple, orange);
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.instragram-button:hover{
    background-image: linear-gradient(orange, purple);
    border: #000000 solid 2px;
}
#social{
    margin-left: 31%;
    margin-top: 2%;
}
footer{
    text-align: center;
    padding: 8%;
    font-weight: 600;
    font-size: 20px;
}
.linkpad{
    background-image: linear-gradient(rgb(253, 7, 7), #ffe600);
    color: rgb(1, 0, 0);
    padding: 20px 40px;
    font-weight: 520;
    border-radius: 10px;
    border: 2px solid black;
}
.linkpad:hover{
    background-image: linear-gradient(rgb(0, 247, 255), rgb(5, 76, 255));
}