body{
    font-family: 'Varela Round', sans-serif;

    background-image: linear-gradient(yellow, white);
    background-repeat: no-repeat;
    margin: 0%;
    padding-left: 2%;
}
nav{
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    padding: 20px 15px;
}
nav > ul > li > a{
    text-decoration: none;
    font-size: 20px;
}
.linkpads{
    background-image: linear-gradient(rgb(0, 225, 255), #00ff84);
    color: rgb(1, 0, 0);
    padding: 20px;
    font-weight: 520;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 2%;
}
nav > ul{
    margin-left: 25%;
}
.linkpads:hover{
    background-image: linear-gradient(red, orangered);
}
#first-line{
    display: flex;
}
.separating{
    margin: 2%;
    border: 0px solid black;
    /* border-radius: 20%; */
}
.radious{
    border-radius: 20px;
    border: 5px solid orangered;
}
.jui > a{
    text-decoration: none;
}
.linkpad{
    background-image: linear-gradient(rgb(253, 7, 7), #ffe600);
    color: rgb(1, 0, 0);
    padding: 20px 40px;
    font-weight: 520;
    border-radius: 10px;
    border: 2px solid black;
}
.linkpad:hover{
    background-image: linear-gradient(rgb(0, 247, 255), rgb(5, 76, 255));
}
#link{
    display: flex;
}
.one{
    padding-left: 14.5%;
}
.linkpadfst > a{
    padding: 0% 20px;
    text-decoration: none;
}
.linkpadfst{
    padding-left: 2%;
}
#head{
    padding-top: 30px;
}
.headerstyle{
    background-image: linear-gradient(orangered, rgb(255, 251, 3));
    margin: 0% 30%;
    padding: 10px;
    border-radius: 20px;
    border: #000000 4px solid;
    font-weight: 550;
}
header{
    text-align: center;
}
footer{
    text-align: center;
    padding: 8%;
    font-weight: 600;
    font-size: 20px;
}